body {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: black;
    margin: auto;
    padding: 0;
    max-width: 800px;
    background-image: url('https://media.giphy.com/media/dXoQnoUUSUIvK/200.gif');

}

#title-border {
    border-bottom: solid white;
    background: -webkit-linear-gradient(#ff0000, #fffc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}



.center {
    text-align: center;
}


#splash-screen {
    animation: blinker 1s linear 1s;
    position: relative;



}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}




h1 {
    font-family: 'Press Start 2p';
    background: -webkit-linear-gradient(#ff0000, #fffc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

button {
    background: -webkit-linear-gradient(#ff0000, #fffc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.guess-submit {
    position: relative;
    text-align: center;
    font-family: 'Press Start 2p';

    padding: 30px;

}

#start-game {
    font-size: 20px;
    margin-bottom: 15px;



}



#new-game {
    text-align: center;
    bottom: 100px;


    cursor: pointer;
    font-size: 20px;

}

#next-round {

    position: relative;
    text-align: center;
    bottom: 100px;
}

footer {
    text-align: center;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    font-size: 25px;
    background-color: white;
    font-family: "Brush Script MT", cursive;
    border-top: solid white;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    max-width: auto;
    color: black;


}

h2 {
    font-size: 20px;
}

h3 {
    position: absolute;
    right: 400px;
}

.youWin {
    /*position: absolute;*/
    text-align: center;
    padding: 30px;
    font-size: 30px;
    background: -webkit-linear-gradient(#ff0000, #fffc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: blinker 1s linear infinite;

}

#p1guess {
    text-align: center;
    list-style-position: inside;

}

.flash {
    animation: blinker 1s linear infinite;
    position: relative;
    margin-top: 30px;

    text-align: center;

}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#pause {
    position: relative;
    top: 15px;
}

#resume {
    position: relative;
    top: 15px;
}

#buttons {
    padding: 15px;
}

#image {
    width: 50%;
    transition: 1s;
    transform: scale(1);
}

#parent {
    /*display: flex;*/
    text-align: center;
}

#time {
    position: fixed;

}

#time-left {
    width: 400px;

    position: fixed;
}

#game-screen {
    display: none;
}

#number-selection {
    margin-top: 30px;
}
li{
  padding: 10px;
}