body{
	font-family: Optima;
	margin: auto;
	padding: 0;
	max-width: auto;

}
#title-border{
	border-bottom: solid black;
}

.center {
    text-align: center;
}
h1{
	font-family: Optima;
}
.guess-submit {
    position: relative;
  	text-align: center;
    font-family: Optima;
    
    padding: 25px;

}




#new-game {
    text-align: center;
    bottom: 100px;
    
  
    cursor: pointer;
    font-size: 20px;

}
#next-round{
	
	position: relative;
	text-align: center;
	bottom: 100px;
}
footer {
    text-align: center;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    font-size: 25px;
    background-color: #FFFFE0;
    font-family: "Brush Script MT", cursive;
    border-top: solid black;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    max-width: auto;

    
}


h3{
	position: absolute;
	right: 400px;
}
.youWin{
	/*position: absolute;*/
	text-align: center;
	padding: 50px;

}
   
#p1guess{
	text-align: center;
	list-style-position: inside;
}

